header{
  height:200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  filter:  brightness(1.5);
  background-color:#2b2a2f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:20px;
  .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}